.image-with-text {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    font-weight: 700;
}

.image-with-text img {
    width: 100%;
    max-width: 17rem;
    margin: 0 .5rem;
}

.image-with-text p {
    font-size: 1.4rem;
}

.image-with-text.start {
    align-items: flex-start;
}

.image-with-text.end {
    align-items: flex-end;
}

.image-with-text.reverse {
    flex-direction: row-reverse;
}

.image-with-text .vivo-empresas {
    padding-right: 2.5rem;
}

.image-with-text .vivo-empresas h4 {
    font-family: officina-bold;
    font-size: 2.5rem;
    line-height: 1;
}

.image-with-text .vivo-empresas h4 + h4 {
    margin-bottom: 2rem;
}

.image-with-text .vivo-empresas h4 span {
    color: #7d05a4;
    margin-left: 2rem;
}

.image-with-text .vivo-empresas h4 + p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .image-with-text,
    .image-with-text.reverse {
        flex-direction: column;
        row-gap: 2rem;
    }

    .image-with-text.end {
        align-items: center;
    }

    .image-with-text img {
        width: 80%;
    }
}