.carrousel {
    width: 70%;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 5px 7px #b140f1;
    -moz-box-shadow: 5px 5px 7px #b140f1;
    box-shadow: 5px 5px 7px #b140f1;
}

.item {
    /* background-color: #000; */
    /* border-radius: 2rem; */
    overflow: hidden;

}

.item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.item-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.estilo1 .item-content {
    padding-top: 3rem;
} 

.estilo1 .item-content span{
    color: #660099 !important;
}

.estilo1 .item-content img {
    width: 10.5rem;
    padding: 1rem;
}

.estilo1 .item-content h3 {
    font-family: 'officina-bold';
    font-size: 1.9rem !important;
    color: #660099;
    width: 85%;
}

.estilo1 .item-content p {
    font-family: 'officina';
    font-size: 1.2rem !important;
    color: #000;
    font-weight: 100;
    width: 77%;
    margin: 1vw 3vw 3vw 0vw;
}

.carrousel.estilo2 {
    width: 75%;
    -webkit-box-shadow: 5px 5px 7px #b140f1;
    -moz-box-shadow: 5px 5px 7px #b140f1;
    box-shadow: 5px 5px 7px #b140f1;
}

.estilo2 .item-content {
    padding: 0 5rem;
    gap: 2rem;
}

.estilo2 .item-content img {
    width: 19rem;
    padding: 1rem 0;   
}



.estilo2 .item-content h3 {
    color: #660099;
    font-size: 1.2rem !important;
    padding: 1rem;
}

.estilo2 .item-content p {
    color: orange;
}

.estilo3 .item-content img {
    width: 30rem;
}

.estilo3 .item-content h3 {
    color: black;
}

.estilo3 .item-content p {
    width: yellow;
}

.estilo4 img{
    width: 30%;
}

.estilo4 .item-content h3{
    padding: 2rem 0 0 0;
    color: #660099 !important;
    font-size: 3.5rem !important;
}

.estilo4 .item-content p {
    color: black;
    padding: 1rem 1rem 3rem 1rem;
    text-align: center;
}

.estilo4 .item-content span {
    color: #660099;
}

.div-flex5 .carrousel span {
    color: #660099;
}

.carrousel .item h3 {
    /* width: 100%;

    background-color: white;
    color: #fe9901;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 2.2rem;
    font-weight: 400; */
}

.carrousel .item p {
    /* width: 100%;
    background-color: white;
    padding: 2rem 1rem;
    font-size: 1.2rem; */
}

.carrousel .controls {
    position: absolute;
    bottom: 0%;
    right: 2%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.carrousel .controls button {
    background: none;
    border: none;
    cursor: pointer;
}

.carrousel .controls button img {
    width: 3rem;
    transition: 1s;
}

.carrousel .controls button img:hover {
    width: 3rem;
    transform: scale(1.1);
}

.carrousel .controls button.next img {
    transform: scaleX(1);
    transition: 1s;
}

.carrousel .controls button.next img:hover {
    transform: scaleX(1);
    transform: scale(1.1);
}

.carrousel .slick-track {
    /* display: flex; */
    gap: 1.3rem;
}



.dots {
    margin-top: 1vw ;
}



@media screen and (max-width: 768px) {
    .carrousel {
        width: 100%;
    }

    .carrousel .controls {
        display: none;
    }

    .carrousel .slick-track {
        gap: .5rem;
    }
}