.show-down-slider h3 {
    color: #eb3c7d;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.show-down-slider > p {
    color: #370054;
    text-align: center;
}

.show-down-slider .show-down-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.show-down-slider .show-down-wrapper .slider {
    transition: all .3s linear;
}

.show-down-slider .show-down-wrapper .slider > img {
    width: 100%;
    max-width: 20rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.show-down-slider .show-down-wrapper .slider .content-wrapper {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .3s linear; 
}

.show-down-slider .show-down-wrapper .slider.show .content-wrapper {
    height: auto;
    opacity: 1;
    transition: .3s linear; 
}

.show-down-slider .show-down-wrapper .slider .content-wrapper .content {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.show-down-slider .show-down-wrapper .slider .content-wrapper .content p {
    background-color: #000;
    color: #370054;
    padding: .3rem .8rem;
    border-radius: .5rem;
}

.show-down-slider .show-down-wrapper .slider[value="1"] .content-wrapper .content p {
    background-color: #ffb84c;
}

.show-down-slider .show-down-wrapper .slider[value="2"] .content-wrapper .content p {
    background-color: #ff98b3;
}

.show-down-slider .show-down-wrapper .slider[value="3"] .content-wrapper .content p {
    background-color: #b3d682;
}