.logo {
    position: relative;
    width: 100%;
    min-height: 80vh;
}

.logo .logo-wrapper {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.logo .logo-wrapper h1 {
    color: #660099;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.logo img {
    position: absolute;
    width: 100%;
    max-width: 20rem;
    bottom: 4rem;
    left: 0.5rem;
}