@font-face {
  font-family: officina;
  src: url('./assets/fonts/OfficinaSerif-Book.woff2') format('woff2'),
      url('./assets/fonts/OfficinaSerif-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: officina-bold;
  src: url('./assets/fonts/OfficinaSerif-Bold.woff2') format('woff2'),
      url('./assets/fonts/OfficinaSerif-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: officina-extra;
  src: url('./assets/fonts/OfficinaSerifExtraBoldA.woff2') format('woff2'),
      url('./assets/fonts/OfficinaSerifExtraBoldA.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vivo-light;
  src: url('./assets/fonts/VivoTypeW05-Light.woff2') format('woff2'),
      url('./assets/fonts/VivoTypeW05-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vivo-regular;
  src: url('./assets/fonts/VivoTypeW05-Regular.woff2') format('woff2'),
      url('./assets/fonts/VivoTypeW05-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vivo-bold;
  src: url('./assets/fonts/VivoTypeW05-Bold.woff2') format('woff2'),
      url('./assets/fonts/VivoTypeW05-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'vivo-regular' !important;
}

span, h1, h2, h3, h4, h5, h6, h7{
  font-family: 'vivo-bold' !important;
}

span{
  color: #370054;
}